@import "../../styles/colors.scss";

.pagination {
  display: flex;
  justify-content: center;

  button {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    background-color: $color-secondary;
    color: $color-text-primary;
    border: 0;
    width: 5rem;
    height: 5rem;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      background-color: $color-secondary-light;
    }
    &:disabled {
      background-color: $color-secondary-dark;
      cursor: not-allowed;
    }
    &:focus {
      z-index: 1;
    }
    &:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    &:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}
