@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.select {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  appearance: none;
  color: $color-text-primary;
  background-color: $color-primary-dark;
  padding: 0.7rem 1.4rem;
  margin: 0 0.7rem;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 0.7rem auto;
  background-position: calc(100% - 1.4rem) 0.7rem;
  border: 0;

  background-image: url('data:image/svg+xml;charset=utf-8, \
  <svg aria-hidden="true" focusable="false" class="svg-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="' + $color-text-primary + '" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"></path></svg>');

  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;

  &:hover {
    background-color: $color-primary-light;
  }
  option {
    font-size: 1.4rem;
  }

  &.active {
    background-color: $color-secondary;
    &:hover {
      background-color: $color-secondary-light;
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .select {
    width: 100%;
    margin: 0.7rem 0;
  }
}
