$color-text-primary: white;

$color-background: #383e4e;

$color-primary: #262a35;
$color-primary-light: #5c6378;
$color-primary-dark: #111216;

$color-secondary: #00bc8c;
$color-secondary-light: #00dba3;
$color-secondary-dark: #00a077;
